NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://Jay_Yogeshwar_Solar:ayodhya9260@cluster0.v07m4li.mongodb.net/?appName=Cluster0
JWT_SECRET=jayyogeshwarsolarofficialpage
ADMIN_EMAIL=yogeshmhase08@gmail.com,sarthaktanpure255@gmail.com 
ADMIN_PASSWORD=jayyogeshwarsolarofficial9260
ALLOWED_ORIGINS=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dttjhwpaj
CLOUDINARY_API_KEY=649961623782633
CLOUDINARY_API_SECRET=jZ0zedt4-ywnFh6IhkDSOx9yFt0
REQUIRE_DATABASE=false
